*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato"
}
body{
    overflow: hidden;
}

.endPrompt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(255,0,0,0.5);
    text-align: center;
}