*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 737px;
}
#main{
    width: 100%;
    height: 100vh;
    display: flex;
}

#config{
    width: 10%;
    min-width: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#config *{
    margin: 10px;
}

#preview{
    width: 70%;
    height: 100vh;
}

#previewDiv{
    margin: 10px auto;
    width: 95%;
    height: 80%;
    position: relative;
    overflow: scroll;
}

#jsonPreview{
    width: 20%;
}
#generatedJson{
    background-color: white;
    color: black;
    margin: 10px auto;
    width: 95%;
    height: 80%;
    overflow: scroll;
}

.hex{
    width: 64px;
    height: 64px;
    background-image: url("../gfx/hex.png");
    position: absolute;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    position: relative;
    left: -15px;
    top: 5px;
    font-weight: bold;
}

#generate{
    float: right;
    margin-right: 10px;
}

#jsonPreview button{
    padding: 5px;
    height: 30px;
}